body {
	background-color: #aec6cf;
	background-image: url("img/background.png");
	background-repeat: repeat;
}

.container {
	width: 85%;
	margin: 2% auto 5% auto;
	text-align: center;
}

.wrapper {
	width: 100%;
	background: white;
	text-align: center;
}


h1 {
	font-family: 'Audiowide', cursive;
	color: #ffaf4d;
	font-weight: bold;
	font-size: 5em;
	letter-spacing: 1px;
}

h3 {
	font-size: 2em;
	color: black;
	padding: 30px;
}

h4 {
	font-size: 1.5em;
}

.surfboard {
	padding-bottom: 30px;
}
#surfButton1 {
	width: 40%;
}

#surfButton2 {
	width: 40%;
}

#spotList {
	display: none;
}

.card {
	border: 1px solid grey;
	width: 320px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	margin: 5px;
}

.card-text {
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	display: none;
}

#details {
	padding-top: 40px;
	padding-bottom: 20px;
}